<!DOCTYPE html>
<html lang="el" data-theme="retro">

<head>
    {% load static %}
    {% include "blogCommonHead.html" %}
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google" content="notranslate" />
    <link rel="stylesheet" href="{% static 'style/article-components.css' %}" />
    <!-- SEO -->
    <title>{{ title }} - Book Community</title>
    <meta name="keywords" content="Book, books, reading, βιβλίο, βιβλία, διάβασμα, social media" />
    <meta name="description" content="{{ description }}" />

    <meta property="og:url" content="https://book-community.com{{ request.path }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ pageimage|default_if_none:'https://book-community.com/static/favicons/favicon-32x32.png' }}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="el_GR" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ pageimage|default_if_none:'https://book-community.com/static/favicons/favicon-32x32.png' }}" />
    <meta name="twitter:site" content="@bookcommunity" />
    <meta name="robots" content="index, follow" />
</head>

<body>
    {% include "blogHeader.html" %}
    {% if pageimage %}
    <div class="headerImageGenericPage">
        <img src="{{ pageimage }}" alt="{{ title }}">
    </div>
    {% endif %}
    <h1 class="genericTitle">{% if hasHashtag %}#{% endif %}{{ title }}</h1>
    <div class="container articlesGrid articleComponentContainer">
        {% for post in posts %}
            {% include "article-components/bigArticle.html" %}
        {% endfor %}
    </div>
    {% include "footer.html" %}
</body>

</html>