asgiref==3.8.1
Django==5.2.3
django-environ==0.10.0
django-quill-editor==0.1.40
gunicorn==23.0.0
Pillow==11.0.0
python-dotenv==1.0.0
sqlparse==0.5.0
django-hosts==5.1.0
django-admin-sortable2==2.2.3
django-prose==2.1.0
sentry-sdk==2.36.0
django-ckeditor==6.7.3
