@import "./theme.scss";
@import "./cafeItem.scss";

.cafes-list {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	padding: 0.5rem;
	@media only screen and (min-width: $lg) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
