@import "./theme.scss";
@import "./cafeItem.scss";
@use "./components/icons-list.scss" as *;

.viewCafe {
  padding: 1rem;

  .heading-name {
    font-size: 2rem;
    font-family: "Verdana", sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: $text;
    margin-bottom: 1rem;
    font-weight: 500;

    @media only screen and (min-width: $md) {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    @media only screen and (min-width: $lg) {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  }

  .hero-imgCnt {
    position: relative;
    width: 100%;
    aspect-ratio: 1.777;
    margin: 0 auto;
    background-color: $primary;
    border-radius: 10px;
    margin-bottom: 1rem;

    @media only screen and (min-width: $md) {
      width: 75%;
    }
    @media only screen and (min-width: $lg) {
      width: 50%;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .content {
    @media only screen and (min-width: $lg) {
      margin: 1rem auto;
      max-width: 75%;
    }
  }

  .selection {
    color: $on-primary;
    padding: 1rem 2rem;
    width: 50%;
    margin: 0 auto;
    svg {
      fill: $primary;
      width: 1.5rem;
      height: 1.5rem;
      @media only screen and (min-width: $lg) {
        width: 2rem;
        height: 2rem;
      }
    }
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    @media only screen and (min-width: $lg) {
      justify-content: space-around;

      .icon {
        padding: 0.5rem;
        transition: 0.2s linear background-color;
        border-radius: 100%;
      }

      .icon:hover {
        background-color: $on-primary;
        svg {
          fill: $primary !important;
        }
      }
    }
  }
  .content {
    margin-top: 1rem;
    line-height: 1.5;
    font-size: 1rem;
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    .icon-item {
      display: flex;
      align-items: center;
      column-gap: 0.5em;
      margin-bottom: 0.5rem;
    }
    .icons {
      cursor: default;
      user-select: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 0.5rem;
      column-gap: 0.5rem;
    }
    .icon {
      border: 1px solid $on-secondary;
      user-select: none;
      padding: 5px;
      border-radius: 100%;
      color: $on-secondary;
    }
  }
}
.description {
  font-family: $secondary-font;
  font-size: 1.1rem;
  line-height: 1.6;

  margin: 1rem auto;
  @media only screen and (min-width: $lg) {
    max-width: 75%;
  }
}

.bottomSpace {
  padding-bottom: 1rem;
}

.suggestion {
  padding: 1rem;
  margin: 0.5rem;

  @media only screen and (min-width: $md) {
    margin: 0;
  }

  border: 2px solid $primary;
  .name {
    padding: 1rem;
    background-color: $primary;
    color: $on-primary;
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 1.5rem;
    width: fit-content;
    margin-bottom: 1rem;
    border-radius: 10px;
    
    @media only screen and (min-width: $lg) {
      font-size: 2rem;
    }
  }
  .suggestion-cafes {
    display: grid;
    flex-direction: column;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;

    @media only screen and (min-width: $lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    .cafeItem {
      display: flex;
      column-gap: 1rem;
      row-gap: 1rem;
      flex-direction: column;
      border-bottom: none;

      @media only screen and (min-width: $lg) {
        width: 30%;
      }

      .content {
        align-items: center;
        @media only screen and (min-width: $lg) {
          min-width: 30%;
        }
      }
    }
  }
}

.cafeMap {
  aspect-ratio: 1;
  z-index: 1;
  margin: 1rem;
  @media only screen and (min-width: $lg) {
    margin: 2rem auto;
    max-width: 50%;
    aspect-ratio: 2;
  }
}
