@use "./theme" as *;

.blog-logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2rem auto 0 auto;
    justify-content: center;
    align-items: center;

    svg{
        width: 6rem;
        aspect-ratio: 1;
    }

    .text-logo{
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        margin-left: 1rem;
        font-family: $secondary-font;
        line-height: 1;

        @include media-breakpoint-up(lg) {
            font-size: 2rem;
        }
    }
}
