@use "./theme" as *;
@use "sass:map";
@use "sass:color";
@use "./components/newsletter.scss" as *;

body {
  margin: 0;
  background-color: $background;
}

.container {
  max-width: calc(100% - 2rem);
  margin: 0 auto;
  @include media-breakpoint-up(xs) {
    max-width: calc(100% - 2rem);
  }
  @include media-breakpoint-up(sm) {
    max-width: map.get($grid-breakpoints, sm);
  }
  @include media-breakpoint-up(md) {
    max-width: map.get($grid-breakpoints, md);
  }
  @include media-breakpoint-up(lg) {
    max-width: map.get($grid-breakpoints, lg);
  }
}

a {
  text-decoration: none;
  color: $primary;
}

img {
  user-select: none;
}

::selection {
  color: $on-primary;
  background: $primary;
}

.button {
  color: currentColor;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  border-radius: $borderRadius;
  font-family: $primary-font;
}

.button.primary-button {
  background-color: $primary;
  color: $on-primary;

  @include animHover(background-color, 0.3s, ease-in-out) {
    background-color: color.adjust($primary, $lightness: -10%);
  }
}

.button.secondary-button {
  background-color: $secondary;
  color: $on-secondary;

  @include animHover(background-color, 0.3s, ease-in-out) {
    background-color: color.adjust($secondary, $lightness: -10%);
  }
}

.commonSectionPadding {
  padding: 2rem 0;
}

.commonSectionTitle {
  color: $black;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: $primary-font;
}

.footerSectionContactWithUs {
  background-color: $secondary;
  .contact-with-us {
    text-align: center;
  }
}

.link {
  text-decoration: underline;
  color: currentColor;
  @include animHover(color, 0.3s, ease-in-out) {
    color: $primary;
  }
}

.pageTitle {
  font-size: 2rem;
  font-weight: bold;
  color: $primary;
  text-align: center;
  margin-bottom: 2rem;
  font-family: $primary-font;
  text-align: center;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  // a {
  //   display: inline-block;
  //   padding: 0.5rem 1rem;
  //   font-size: 1rem;
  //   font-weight: bold;
  //   color: $primary;
  //   background-color: $secondary;
  //   border: 1px solid $primary;
  //   border-radius: $borderRadius;
  //   text-decoration: none;
  //   transition: all 0.3s ease;

  //   &:hover {
  //     background-color: color.adjust($primary, $lightness: -10%);
  //     color: $on-primary;
  //   }

  //   &.active {
  //     background-color: $primary;
  //     color: $on-primary;
  //     pointer-events: none;
  //   }
  // }

  .disabled {
    display: none;
    pointer-events: none;
    opacity: 0.6;
  }
}

