@use "./theme" as *;
@use "sass:map";
body {
  margin: 0;
  background-color: $background;
}

.container {
  max-width: calc(100% - 2rem);
  @include media-breakpoint-up(xs) {
    max-width: calc(100% - 2rem);
  }
  @include media-breakpoint-up(sm) {
    max-width: map.get($grid-breakpoints, sm);
  }
  @include media-breakpoint-up(md) {
    max-width: map.get($grid-breakpoints, md);
  }
  @include media-breakpoint-up(lg) {
    max-width: map.get($grid-breakpoints, lg); 
  }
}

a {
  text-decoration: none;
  color: $primary;
}

img {
  user-select: none;
}

::selection {
  color: $on-primary;
  background: $primary;
}