@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "./mixins.scss";
@import "./common.scss";
@import "./variables.scss";

html,
body {
	width: 100%;
	font-family: $fontFamily;
	margin: 0;
	//TODO this must change
	overflow-x: hidden;
}

body ::-moz-selection,
html ::-moz-selection {
	color: $primaryBackgroundColor;
	background: $secondaryBackgroundColor;
}
body ::selection,
html ::selection {
	color: $primaryBackgroundColor;
	background: $secondaryBackgroundColor;
}

.heroImage {
	background-color: $primaryBackgroundColor;
	@include section;
	min-height: 75vh;

	.content {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		align-items: center;
		@include rowInDesktopColumnInMobile;
		.textSection {
			.box {
				width: fit-content;
				@include media-breakpoint-down(lg) {
					padding: 0 $spacer * 0.5;
				}
				h1 {
					font-weight: lighter;
					font-size: 3rem;
					text-align: center;
					@include media-breakpoint-up(lg) {
						text-align: left;
						background-color: $secondaryBackgroundColor;
						color: $primaryBackgroundColor;
						width: fit-content;
						padding: $spacer;
						@include borderRadius;
					}
				}
				.subtitle {
					text-align: center;
					@include media-breakpoint-up(lg) {
						text-align: left;
					}
					font-weight: 300;
				}
			}
		}
	}
}

.whatIsBookCommunity {
	@include section;
	background-color: $whiteBackground;
}
.text {
	text-align: center;
	margin-bottom: $spacer;
	@include media-breakpoint-up(lg) {
		text-align: left;
		margin-bottom: $spacer * 2;
	}
	p {
		font-weight: 300;
		line-height: 1.5;
		font-size: 1.1rem;
	}
}

.ourValues {
	@include section;
	background-color: $primaryBackgroundColor;

	.cards {
		.card {
			background-color: white;
		}
	}
}
.newsletter {
	@include section;
	background-color: $secondaryBackgroundColor;
	color: $primaryBackgroundColor;
	min-height: 30vh;
	.subtitle {
		text-align: center;
	}
}

.footer {
	@include sameSpaceSection;
	display: flex;

	@include media-breakpoint-up(lg) {
		align-items: center;
		justify-content: center;
	}

	background-color: $primaryBackgroundColor;
	@include rowInDesktopColumnInMobile;

	.sameRow {
		@include rowInDesktopColumnInMobile;
	}
	.form {
		input {
			border: 1px solid $secondaryBackgroundColor;
		}
		@include media-breakpoint-down(md) {
			max-width: 80%;
		}
	}
	.copyright {
		display: flex;
		text-align: center;

		flex-direction: column;
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
			text-align: left;
			justify-content: flex-start;
			align-self: center;
		}
		@include media-breakpoint-down(lg) {
			span {
				margin-bottom: $spacer;
			}
		}
	}
	.icons {
		display: flex;
		column-gap: $spacer;
		justify-content: center;
		flex-direction: row;
		flex-wrap: nowrap;

		.icon {
			svg {
				width: 2rem;
				height: 2rem;
				transition: fill 0.2s ease-in-out;
			}
		}
		@include media-breakpoint-up(lg) {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.icon:hover {
				svg {
					fill: #ff6b00;
				}
			}
		}
	}
}

.form {
	@include rowInDesktopColumnInMobile;
	@include media-breakpoint-down(md) {
		margin-left: auto;
		margin-right: auto;
	}

	iframe {
		width: 100%;
		display: flex;
		justify-content: flex-start;
	}
}

.clickNewsletterCnt {
	margin: $spacer * 2 auto;
	display: flex;
	justify-content: center;

	@include media-breakpoint-up(lg) {
		margin: $spacer * 2 0;
		justify-content: flex-start;
	}
	a {
		text-decoration: none;
	}
	.clickNewsletter {
		text-decoration: none;
		font-size: 1rem;
		border: 1px solid $secondaryBackgroundColor;
		color: $secondaryBackgroundColor;
		width: fit-content;
		@include borderRadius;
		padding: $spacer;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;

		@include media-breakpoint-up(lg) {
			font-size: 1.5rem;
			&:hover {
				background-color: $secondaryBackgroundColor;
				color: $primaryBackgroundColor;
			}
		}
	}
}

.cookie-banner {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: $spacer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: $primaryBackgroundColor;
	@include borderRadius;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);

	@include media-breakpoint-up(lg) {
		bottom: 40px;
		left: 10%;
		right: 10%;
		width: 80%;
		padding: 5px 14px;
		flex-direction: row;
	}

	a {
		text-decoration: none;
		cursor: pointer;
		color: $secondaryBackgroundColor;
		border-bottom: 1px solid $secondaryBackgroundColor;
	}

	.options {
		padding: $spacer 0;
		column-gap: $spacer;
		row-gap: $spacer;
	}
	button {
		border: none;
		padding: $spacer * 0.5;
		background-color: inherit;
		cursor: pointer;
	}
	.accept {
		font-size: 1rem;
		background-color: $secondaryBackgroundColor;
		color: $primaryBackgroundColor;
		@include borderRadius;
		padding: $spacer * 0.75;
	}
}

#newsletterProblem {
	display: flex;
	justify-content: center;
	flex-direction: column;

	.btnCookie {
		background-color: $primaryBackgroundColor;
		border: none;
		color: $secondaryBackgroundColor;
		padding: $spacer;
		text-decoration: none;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
		@include borderRadius;
	}
}

@keyframes cookieHide {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.quoteCnt {
	@include section;
	background-color: $secondaryBackgroundColor;
	color: $primaryBackgroundColor;
	min-height: 30vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
