@import "./theme.scss";

.marketing-header {
	position: relative;
	width: 100%;
	height: 100vh;
	background-size: cover;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;

	@media only screen and (min-width: $lg) {
		height: 70vh;
	}

	.video-background {
		position: absolute;
		right: 0;
		bottom: 0;
		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 0;
		background-repeat: no-repeat;
		background-image: url("https://images.unsplash.com/photo-1516196252840-f9947d2bcb7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
		background-position: center;
		background-size: cover;
	}

	.background-overlay {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		background: rgba(0, 0, 0, 0.6);
	}

	.app-header-center {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 800px;
		margin: 0 auto;
		z-index: 2;

		.app-page-title {
			font-size: 3.5rem;
			line-height: 87px;
			color: $secondary;
			margin-bottom: 36px;
			font-family: Cahuenga, serif;
			font-weight: 400;

			@media only screen and (min-width: $lg) {
				font-size: 4rem;
			}
		}

		.header-buttons {
			& > a {
				font-size: 1rem;
				padding: 1.5rem;
				margin: 1rem 0;
				@media only screen and (min-width: $lg) {
					margin: 0;
				}
			}

			svg {
				margin: 0 0.5rem;
				width: 1rem;
				height: 1rem;
			}
		}
	}
}

.sub-text {
	letter-spacing: -0.012em;
	line-height: 1.5;
	background-color: $secondary;
	color: $on-secondary;
	padding: 5rem 0;
	max-width: 1276px;
	margin: 0 auto;

	.home-hero-content {
		max-width: 848px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column;
		align-items: center;

		.blogger-hero-subtitle {
			font-family: Cahuenga, serif;
			max-width: 700px;
			font-weight: 400;
			font-size: 1.2rem;
			text-align: center;
			margin: 0.5rem 0;
			padding: 0 1rem;
		}
	}

	a {
		font-size: 1rem;
		padding: 1.5rem;
		margin: 1rem;
		text-transform: none;
	}
}
