@use "./theme.scss" as *;

.articleHeader{

    .articleInfo {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 1rem;
        color: #333; 
        padding-left: 0;
        justify-content: center;

        li {
            margin-right: 1.25rem;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            font-weight: 500; 
            
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: inherit;
                transition: color 0.3s;
                
                &:hover {
                    color: $primary;
                }
                
                img {
                    margin-right: 0.5rem; 
                    height: 1.5rem; 
                    width: 1.5rem; 
                    border-radius: 50%; 
                }
                
                span {
                    font-weight: 500; 
                }
            }
            
            svg {
                margin-right: 0.25rem; 
                height: 1.25rem; 
                width: 1.25rem; 
                color: #666; 
            }
            
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                
                li {
                    display: inline-block;
                    
                    a {
                        margin-right: 0.5rem; 
                        text-decoration: none;
                        color: inherit;
                        transition: color 0.3s;
                        
                        &:hover {
                            color: $primary;
                        }
                        
                        font-weight: 500; 
                    }
                }
            }
        }
    }

    .title {
        margin-bottom: 1rem; 
        text-align: center;
        font-size: 2rem; 
        font-weight: bold;
        margin-top: 2rem;
        color: $primary;
        
        a {
            display: block; 
            text-decoration: none;
            color: inherit;
            transition: color 0.3s;

            &:hover {
                color: $primary;
            }
        }
    }
}

.articleImage{
    position: relative;
    width: 100%;
    aspect-ratio: 1.947368421;
    display: block;
    margin-bottom: 1rem;

    img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
    }
}


.articleContent {
    margin-bottom: 1rem;
    p {
        margin-bottom: 1rem; // Add bottom margin for spacing
        color: #333; // Replace with your desired text color
        line-height: 1.6; // Adjust line height for readability
    }
    img{
        display: block;
        max-width: 100%;
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    iframe{
        max-width: 100%;
    }
    blockquote {
        margin: 1.5rem 0; // Add top and bottom margin for spacing
        padding: 1rem 1.5rem; // Add padding for inner spacing
        border-left: 4px solid #007bff; // Replace with your desired primary color
        background-color: #f9f9f9; // Light background color for blockquote
        color: #555; // Replace with your desired text color

        p {
            margin: 0; // Remove default margin
        }
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #000;
        margin-bottom: 1.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3,
    .subTitle {
        font-size: 1.6rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1.5rem;
    }



    .flex-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1rem;
    margin-bottom: 1rem;
    gap: 0.75rem;
    margin-bottom: 2rem;

    li {
        display: inline-block;

        a {
            display: block;
            padding: 0.5rem 1rem; 
            border-radius: 0.5rem; 
            background-color: #f0f0f0; 
            color: $black; 
            font-weight: 600; 
            font-size: 0.875rem; 
            text-decoration: none;
            transition: color 0.3s, background-color 0.3s; 

            &:hover {
                color: #007bff;
            }
        }
    }
}