@import "./variables.scss";

@mixin rowInDesktopColumnInMobile {
	display: flex;
	flex-direction: column;
	@include media-breakpoint-up(lg) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

@mixin borderRadius {
	border-radius: 5px;
}
@mixin sameSpaceSection {
	padding-top: $spacer * 2;
	padding-bottom: $spacer * 2;
}
@mixin section {
	@include sameSpaceSection;
	align-items: center;
	display: flex;
	min-height: 50vh;

	.title {
		padding: $spacer * 2 0;
		text-align: center;
		font-size: 2rem;
	}
}
