$primary: #635642;
$secondary: #e3e1de;
$on-primary: #ffffff;
$on-secondary: $primary;
$newsletter-background: #2f2e41;
$on-newsletter: $on-primary;
$dark: #2f2e41;
$buybook-primary: #6c63ff;
$on-buybook: $on-newsletter;


@use "@material/theme" with ($primary: $primary,
	$secondary: $secondary,
	$on-primary: $on-primary,
	$on-secondary: $on-secondary);
@use "@material/card";
@use "@material/button/styles";
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@import "@material/chips/styles";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@include card.core-styles;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

body {
	margin: 0;
	background-color: #f7f5fb;
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: calc(100% - 2rem);
	@media only screen and (min-width: $sm) {
		max-width: 540px;
	}

	@media only screen and (min-width: $md) {
		max-width: 720px;
	}

	@media only screen and (min-width: $lg) {
		max-width: 992px;
	}

	@media only screen and (min-width: $xl) {
		max-width: 1140px;
	}

	@media only screen and (min-width: $xxl) {
		max-width: 1320px;
	}

	margin: 0 auto;
}

a {
	text-decoration: none;
	color: $primary;
}

.on-primary {
	color: $on-primary;
}

.mdc-button--outlined {
	color: $on-primary !important;
	border-color: $on-primary !important;
}

.mdc-top-app-bar {
	a {
		display: flex;
	}
}

main {
	background-color: $secondary;
	padding-bottom: 1rem;
}

img {
	user-select: none;
}

::selection {
	color: $on-primary;
	background: $primary;
}

.content {
	padding: 1rem;
}