<div class="content md:col-10">
    <div class="content mb-16 text-left">
      <p>
        Nemo vel ad consectetur namut rutrum ex, venenatis sollicitudin
        urna. Aliquam erat volutpat. Integer eu ipsum sem. Ut bibendum lacus
        vestibulum maximus suscipit. Quisque vitae nibh iaculis neque
        blandit euismod.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vel ad
        consectetur ut aperiam. Itaque eligendi natus aperiam? Excepturi
        repellendus consequatur quibusdam optio expedita praesentium est
        adipisci dolorem ut eius!
      </p>
      <h2 id="creative-design">Creative Design</h2>
      <p>
        Nam ut rutrum ex, venenatis sollicitudin urna. Aliquam erat
        volutpat. Integer eu ipsum sem. Ut bibendum lacus vestibulum maximus
        suscipit. Quisque vitae nibh iaculis neque blandit euismod.
      </p>
      <blockquote>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vel
          ad consectetur ut aperiam. Itaque eligendi natus aperiam?
          Excepturi repellendus consequatur quibusdam optio expedita
          praesentium est adipisci dolorem ut eius!
        </p>
      </blockquote>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo vel ad
        consectetur ut aperiam. Itaque eligendi natus aperiam? Excepturi
        repellendus consequatur quibusdam optio expedita praesentium est
        adipisci dolorem ut eius!
      </p>
    </div>
    {% include "article/tags.html" %}
  </div>