@use "../theme.scss" as *;

.collections-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
  }

  .collections-title {
    color: $primary;
    text-align: center;
  }

  .card {
    // width: 320px;
    background-color: $secondary;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: $borderRadius;
    overflow: hidden;
    text-decoration: none;

    &:hover {
      box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
      transition: box-shadow 0.3s ease, transform 0.3s ease;
    }

    figure {
      position: relative;
      padding: 0;
      margin: 0;
      aspect-ratio: 1.667;

      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $borderRadius 0 0 0;
      }
    }

    .card-body {
      padding: 1rem;
      text-align: center;

      .card-title {
        font-size: 1.25rem;
        font-weight: bold;
        color: $black;
        margin: 0;
      }
    }
  }
}

.view-all-collections {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}