@use "../theme/colors" as *;
@use "sass:color";

.icons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background: transparent;
    color: $primary;
    width: 2rem;
    height: 2rem;
    font-size: 1.1rem;
    border: 1px solid $primary;
    user-select: none;

    svg {
      width: 1.2rem;
      height: 1.2rem;
      fill: currentColor;
    }
  }
}
