@use "../theme.scss" as *;
@use "sass:map";
@use "sass:color";

.newsletterSection {
  background-color: $newsletter-background;
  color: $on-newsletter;

  .newsletter-form {
    max-width: 600px;
    margin: 0 auto;
  }

  .title {
    color: $on-newsletter;
  }

  .subtitle {
    margin-bottom: 1rem;
    text-align: center;
    font-family: $primary-font;
  }

  input[type="email"] {
    @include input-style;
    margin-bottom: 1rem;
  }
}
