<html lang="el">
  <head>
    {% load static %} {% include "commonHead.html" %}
    <title>404 error</title>
    <link rel="canonical" href="https://cafe.book-community.com/404/" />
    <style>
        a {
            margin-bottom: 2rem;
            margin-right: 1rem;
        }
    </style>
  </head>

  <body>
    <main>
      <div style="width: fit-content; margin: 0 auto; padding: 2rem 0;">
        <h1 style="color: black; margin-bottom: 1rem; text-align: center;">404</h1>
        <p>Η σελίδα δεν βρέθηκε</p>

        <a href="/">Αρχικη</a>
        <a href="https://cafe.book-community.com/">Cafe</a>
        <a href="https://blog.book-community.com/">Blog</a>
      </div>
    </main>
  </body>
</html>
