<!-- filepath: /j:/Repositories/book-community/findBookCafe/templates/cafes.html -->
<html data-theme="retro">
<head>
    {% load static %}
    {% include "commonHead.html" %}
    <title>Βρες την καφετέρια που σου ταιριάζει | {{page_title}}</title>
    <link rel="canonical" content="https://cafe.book-community.com{{cafe_url}}" />
    <link rel="stylesheet" href="{% static 'style/cafes.css' %}" />
    <meta name="keywords" content="book, books, reading, βιβλίο, βιβλία, διάβασμα, social media, book cafe, cafe, καφετέριες, βιβλιοθήκη, βιβλιοθήκες, library, libraries" />
    <meta name="description" content="Βρες το book cafe που σου ταιριάζει για διάβασμα ή δουλειά!" />
    <meta property="og:url" content="https://cafe.book-community.com{{cafe_url}}" />
    <meta property="og:title" content="Book cafes {{page_title}}" />
    <meta property="og:description" content="Βρες το book cafe που σου ταιριάζει για διάβασμα ή δουλειά!" />
    <script src="{% static 'bundle.js' %}" async></script>
    <link rel="stylesheet" href="{% static 'style/output.css' %}" />
</head>

	<style>
		.cafe-tab-title{
			font-size: 0.85rem;
			font-weight:400;
		}
	</style>
	<body>
		{% include "header.html" %}
		<main class="mdc-top-app-bar--fixed-adjust">
			<div class="mdc-tab-bar" role="tablist">
				<div class="mdc-tab-scroller">
					<div class="mdc-tab-scroller__scroll-area">
						<div class="mdc-tab-scroller__scroll-content">
							<a
								class="mdc-tab mdc-tab--active"
								role="tab"
								aria-selected="true"
								tabindex="0"
								href="{{cafe_url}}"
							>
								<span class="mdc-tab__content">
									<span
										class="mdc-tab__icon material-symbols-sharp"
										aria-hidden="true"
									>
										local_cafe</span
									>
									<h1 class="mdc-tab__text-label text-xl cafe-tab-title"
										>Καφετεριες</h1
									>
								</span>

								<span
									class="mdc-tab-indicator mdc-tab-indicator--active"
								>
									<span
										class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"
									></span>
								</span>
								<span class="mdc-tab__ripple"></span>
							</a>
							<a
								class="mdc-tab plausible-event-name=libraryTabButton"
								role="tab"
								aria-selected="true"
								tabindex="0"
								href="{{libraries_url}}"
							>
								<span class="mdc-tab__content">
									<span
										class="mdc-tab__icon material-symbols-sharp"
										aria-hidden="true"
									>
										local_library
									</span>
									<span class="mdc-tab__text-label cafe-tab-title"
										>Βιβλιοθηκες</span
									>
								</span>

								<span class="mdc-tab-indicator">
									<span
										class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"
									></span>
								</span>
								<span class="mdc-tab__ripple"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			{% include "cafesList.html" %}
		</main>
		{% include "footer.html" %}
	</body>
</html>
