<div class="card bg-base-100 shadow-xl hover:shadow-2xl transition-shadow duration-300">
    <figure class="imgCnt">
        {% if cafe_item.type == 'CAF' %}
        <a href="/cafes/{{cafe_item.region.city.slug}}/{{cafe_item.region.slug}}/{{cafe_item.slug}}" class="w-full min-w-full">
            <img
                src="https://cafe.book-community.com/media/{{cafe_item.thumbnail}}"
                alt="{{cafe_item.name}}"
                loading="lazy"
                class="w-full h-72 object-cover"
            />
        </a>
        {% else %}
        <a href="/libraries/{{cafe_item.region.city.slug}}/{{cafe_item.region.slug}}/{{cafe_item.slug}}" class="w-full min-w-full">
            <img
                src="https://cafe.book-community.com/media/{{cafe_item.thumbnail}}"
                alt="{{cafe_item.name}}"
                loading="lazy"
                class="w-full h-72 object-cover"
            />
        </a>
        {% endif %}
    </figure>
    {% if cafe_item.type == 'CAF' %}
    <a href="/cafes/{{cafe_item.region.city.slug}}/{{cafe_item.region.slug}}/{{cafe_item.slug}}" class="card-body block">
    {% else %}
    <a href="/libraries/{{cafe_item.region.city.slug}}/{{cafe_item.region.slug}}/{{cafe_item.slug}}" class="card-body block">
    {% endif %}
       {% include "cafeIcons.html" with cafe=cafe_item %}   
        <div class="location text-gray-600">{{cafe_item.region.name}}, {{cafe_item.region.city.name}}</div>
        <div class="btn btn-neutral mt-4 w-full">{{cafe_item.name}}</div>
    </a>
</div>