<html>
   <head>
      {% load static %} {% include "commonHead.html" %}
      <title>{{cafe.name}} | Book Cafe</title>
      <meta
         name="keywords"
         content="book, books, reading, βιβλίο, βιβλία, διάβασμα, social media, book cafe, cafe,  ες, βιβλιοθήκη,
		βιβλιοθήκες, library, libraries"
      />
      <meta
         name="description"
         content="Βρες το book cafe ή την βιβλιοθήκη που σου ταιριάζει για διάβασμα ή δουλειά!"
      />
      <meta property="og:title" content="{{cafe.name}} | Book Cafe" />
      <link
         rel="stylesheet"
         href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
         integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
         crossorigin=""
      />
      <script
         src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
         integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
         crossorigin=""
      ></script>

      {% if cafe.type == 'CAF' %}
      <link
         rel="canonical"
         href="https://cafe.book-community.com/cafes/{{cafe.region.city.slug}}/{{cafe.region.slug}}/{{cafe.slug}}/"
      />
      <meta
         property="og:url"
         content="https://cafe.book-community.com/cafes/{{cafe.region.city.slug}}/{{cafe.region.slug}}/{{cafe.slug}}/"
      />
      {% else %}
      <meta
         property="og:url"
         content="https://cafe.book-community.com/libraries/{{cafe.region.city.slug}}/{{cafe.region.slug}}/{{cafe.slug}}/"
      />
      <link
         rel="canonical"
         href="https://cafe.book-community.com/libraries/{{cafe.region.city.slug}}/{{cafe.region.slug}}/{{cafe.slug}}/"
      />
      {% endif %}
      <link rel="stylesheet" href="{% static 'style/cafe.css' %}" />
      <script src="{% static 'bundle.js' %}" async></script>
   </head>

   <body>
      {% include "header.html" %}
      <main class="mdc-top-app-bar--fixed-adjust">
         <div class="container bottomSpace">
            <section class="cafe">
               <div class="imgCnt">
                  <h1 class="name">{{cafe.name}}</h1>
                  <img
                     src="https://cafe.book-community.com/media/{{cafe.thumbnail}}"
                     alt="thumbnail {{cafe.name}}"
                  />
               </div>
               <div class="selection">
                  {% if cafe.facebook %}
                  <a
                     href="{{cafe.facebook}}"
                     target="_blank"
                     class="icon plausible-event-name=cafeFacebookIcon"
                     >{% include "icons/facebook.html" %}</a
                  >
                  {% endif %} {% if cafe.googleMaps %}
                  <a
                     href="{{cafe.googleMaps}}"
                     class="icon plausible-event-name=cafeGoogleMapsIcon"
                     target="_blank"
                  >
                     {% include "icons/google.html" %}
                  </a>
                  {% endif %} {% if cafe.instagram %}
                  <a
                     href="{{cafe.instagram}}"
                     class="icon plausible-event-name=cafeInstagramIcon"
                     target="_blank"
                  >
                     {% include "icons/instagram.html" %}</a
                  >
                  {% endif %} {% if cafe.tripadvisor %}
                  <a
                     href="{{cafe.tripadvisor}}"
                     class="icon plausible-event-name=cafeTripadvisorIcon"
                     target="_blank"
                  >
                     {% include "icons/map.html" %}
                  </a>
                  {% endif %} {% if cafe.website %}
                  <a
                     href="{{cafe.website}}"
                     class="icon plausible-event-name=cafeWebsiteIcon"
                     target="_blank"
                  >
                     {% include "icons/link.html" %}</a
                  >
                  {% endif %}
               </div>
               <div class="content">
                  <div class="address">
                     <span class="material-symbols-sharp icon">
                        location_on </span
                     >{{cafe.address}}
                  </div>
                  <div class="region">
                     <span class="material-symbols-sharp icon">
                        location_city </span
                     >{{cafe.region.name}}, {{cafe.region.city.name}}
                  </div>
                  {% include "cafeIcons.html" %}
               </div>
            </section>
            <section class="description container">
               {{cafe.description.html | safe}}
            </section>

            <div
               id="map"
               class="cafeMap container"
            ></div>

            {%if cafes_suggestion %}
            <section class="suggestion">
               <h2 class="name">Άλλα μέρη για διάβασμα στην ίδια περιοχή!</h2>
               <div class="suggestion-cafes">
                  {% for cafe_item in cafes_suggestion%}
                  <!--  -->
                  {% include "cafeItem.html" %} {%endfor%}
               </div>
            </section>
            {%endif%}
         </div>
         <script>

                    var coordinates = [{{ cafe.latitude }}, {{ cafe.longitude }}];
    
                    // Initialize the Leaflet map
                    var map = L.map("map").setView(coordinates, 12);

                    // Add a tile layer to the map
                    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                    	 attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                    }).addTo(map);

                    // Add a marker at the cafe's coordinates
                    L.marker(coordinates).addTo(map)
                    	 .bindPopup("<b>{{ cafe.name }}</b><br>{{ cafe.address }}")
                    	 .openPopup().addTo(map);
         </script>
      </main>

      {% include "footer.html" %}
   </body>
</html>
