<html data-theme="retro" lang="el">
  <head>
    {% load static %} {% include "commonHead.html" %}
    <title>{{cafe.name}} | Book Cafe</title>
    <meta
      name="keywords"
      content="book, books, reading, βιβλίο, βιβλία, διάβασμα, social media, book cafe, cafe, καφετέριες, βιβλιοθήκη, βιβλιοθήκες, library, libraries"
    />
    <meta
      name="description"
      content="Βρες το book cafe ή την βιβλιοθήκη που σου ταιριάζει για διάβασμα ή δουλειά!"
    />
    <meta property="og:title" content="{{cafe.name}} | Book Cafe" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var script = document.createElement("script");
        script.src = "https://unpkg.com/leaflet@1.9.4/dist/leaflet.js";
        script.integrity =
          "sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=";
        script.crossOrigin = "";
        script.async = true;
        document.body.appendChild(script);
        script.onload = function () {
          // Initialize the map after the script has loaded
          var map = L.map("map").setView([{{cafe.latitude}}, {{cafe.longitude}}], 15);

          L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            attribution:
              '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
          }).addTo(map);

          L.marker([{{cafe.latitude}}, {{cafe.longitude}}])
            .addTo(map)
            .bindPopup("{{cafe.name}}")
            .openPopup();
        };
      });
    </script>

    {% if cafe.type == 'CAF' %}
    <link
      rel="canonical"
      href="https://cafe.book-community.com/cafes/{{cafe.region.city.slug}}/{{cafe.region.slug}}/{{cafe.slug}}/"
    />
    <meta
      property="og:url"
      content="https://cafe.book-community.com/cafes/{{cafe.region.city.slug}}/{{cafe.region.slug}}/{{cafe.slug}}/"
    />
    {% else %}
    <meta
      property="og:url"
      content="https://cafe.book-community.com/libraries/{{cafe.region.city.slug}}/{{cafe.region.slug}}/{{cafe.slug}}/"
    />
    <link
      rel="canonical"
      href="https://cafe.book-community.com/libraries/{{cafe.region.city.slug}}/{{cafe.region.slug}}/{{cafe.slug}}/"
    />
    {% endif %}
    <link rel="stylesheet" href="{% static 'style/cafe.css' %}" />
    <script src="{% static 'bundle.js' %}" async></script>
  </head>

  <body>
    {% include "header.html" %}
    <main class="cafe mx-auto py-10">
      <section class="container">
        <h1 class="heading-name">{{cafe.name}}</h1>
        <div
          class="hero-imgCnt relative w-full aspect-w-16 aspect-h-9 mx-auto bg-primary rounded-lg"
        >
          <img
            src="{{ BOOK_CAFE_DOMAIN }}/media/{{cafe.thumbnail}}"
            alt="thumbnail {{cafe.name}}"
            class="absolute w-full h-full object-cover rounded-lg"
          />
        </div>
        <div
          class="selection text-on-primary p-4 w-1/2 mx-auto flex justify-between items-center lg:justify-around"
        >
          {% if cafe.facebook %}
          <a
            rel="noopener noreferrer"
            href="{{cafe.facebook}}"
            target="_blank"
            class="icon plausible-event-name=cafeFacebookIcon p-2 transition-colors duration-200 rounded-full hover:bg-on-primary"
            >{% include "icons/facebook.html" %}</a
          >
          {% endif %} {% if cafe.googleMaps %}
          <a
            href="{{cafe.googleMaps}}"
            class="icon plausible-event-name=cafeGoogleMapsIcon p-2 transition-colors duration-200 rounded-full hover:bg-on-primary"
            target="_blank"
          >
            {% include "icons/google.html" %}
          </a>
          {% endif %} {% if cafe.instagram %}
          <a
            href="{{cafe.instagram}}"
            class="icon plausible-event-name=cafeInstagramIcon p-2 transition-colors duration-200 rounded-full hover:bg-on-primary"
            target="_blank"
          >
            {% include "icons/instagram.html" %}</a
          >
          {% endif %} {% if cafe.tripadvisor %}
          <a
            href="{{cafe.tripadvisor}}"
            class="icon plausible-event-name=cafeTripadvisorIcon p-2 transition-colors duration-200 rounded-full hover:bg-on-primary"
            target="_blank"
          >
            {% include "icons/map.html" %}
          </a>
          {% endif %} {% if cafe.website %}
          <a
            href="{{cafe.website}}"
            rel="noopener noreferrer"
            class="icon plausible-event-name=cafeWebsiteIcon p-2 transition-colors duration-200 rounded-full hover:bg-on-primary"
            target="_blank"
          >
            {% include "icons/link.html" %}</a
          >
          {% endif %}
        </div>
        <div class="content mt-4 px-4 leading-6">
          <div
            class="icon-item font-roboto font-normal flex items-center gap-2 mb-2"
          >
            <div
              class="icon border border-on-secondary user-select-none p-1 rounded-full text-on-secondary"
            >
              {% include "icons/bootstrap/geo-alt-fill.svg" %}
            </div>
            {{cafe.address}}
          </div>
          <div
            class="icon-item font-roboto font-normal flex items-center gap-2 mb-2"
          >
            <div
              class="icon border border-on-secondary user-select-none p-1 rounded-full text-on-secondary"
            >
              {% include "icons/bootstrap/building.svg" %}
            </div>
            {{cafe.region.name}}, {{cafe.region.city.name}}
          </div>
          {% include "cafeIcons.html" %}
        </div>
      </section>
      <section
        class="description container max-w-6xl mx-auto my-4 px-4 leading-7"
      >
        {{cafe.description.html | safe}}
      </section>

      <div
        id="map"
        class="cafeMap container mx-auto my-4 aspect-square lg:my-8 lg:w-1/2 lg:aspect-video rounded-lg"
      ></div>

      {% if cafes_suggestion %}
      <section
        class="container mx-auto suggestion p-4 my-2 border-2 border-primary lg:my-0"
      >
        <h2
          class="name p-4 bg-primary text-on-primary font-roboto font-normal m-0 text-xl w-fit mb-4 lg:text-2xl"
        >
          Άλλα μέρη για διάβασμα στην ίδια περιοχή!
        </h2>
        <div class="suggestion-cafes">
          {% for cafe_item in cafes_suggestion %} {% include "cafeItem.html" %}
          {% endfor %}
        </div>
      </section>
      {% endif %}
    </main>
    {% include "footer.html" %}
  </body>
</html>
