<section class="cafes-list container">
	{%for cafe in cafes%}
	<div class="cafe">
		<div class="imgCnt">
			<img
				src="https://cafe.book-community.com/media/{{cafe.thumbnail}}"
				alt="{{cafe.name}}"
			/>
		</div>
		<div class="content">
			{% include "cafeIcons.html" %}
			<span class="location"
				>{{cafe.region.name}}, {{cafe.region.city.name}}</span
			>
			{% if cafe.type == 'CAF' %}
			<a
				href="/cafes/{{cafe.region.city.name_en}}/{{cafe.region.name_en}}/{{cafe.name_en}}"
				class="mdc-button mdc-button--raised cafe-link"
				>{{cafe.name}}</a
			>
			{% else %}
			<a
				href="/libraries/{{cafe.region.city.name_en}}/{{cafe.region.name_en}}/{{cafe.name_en}}"
				class="mdc-button mdc-button--raised cafe-link"
				>{{cafe.name}}</a
			>{%endif%}
		</div>
	</div>
	{% endfor %}
</section>
