{% load static %}
<footer class="bg-base-200 text-base-content">
  <section class="newsletterSection commonSectionPadding">
    <div class="container">
      <div class="commonSectionTitle title">Κάνε εγγραφή στο newsletter μας</div>
      <div class="subtitle">
        Για να μαθαίνεις την πορεία του project και ενδιαφέροντα θέματα γύρω από
        το βιβλίο!
      </div>
      <div id="newsletter">{% include "newsletter.html" %}</div>
    </div>
  </section>
  {% comment %} <div class="bg-purple-600">
    <section class="container mx-auto py-10">
      <div class="flex flex-col lg:flex-row items-center justify-between gap-8">
        <div class="text">
          <div class="text-2xl font-bold mb-2">
            Θέλεις να στηρίξεις τα μικρά βιβλιοπωλεία;
          </div>
          <div class="text-lg mb-4">
            Έχουμε μια ιδέα για να στηρίξουμε την τοπική κοινότητα των
            βιβλιοπωλείων και να διευκολύνουμε τους αναγνώστες και τις
            αναγνώστριες να βρουν αυτό που ψάχνουν. Εάν θες να μάθεις
            περισσότερα πάτα τον σύνδεσμο κάτω ή κάνε εγγραφή στο newsletter
            μας.
          </div>
          <a
            class="btn btn-primary plausible-event-name=buybook"
            href="https://buybook.gr/"
            target="_blank"
            >Δες περισσότερα</a
          >
        </div>
        <div class="image-container">
          <img
            src="{% static 'undraw_bibliophile_re_xarc.svg' %}"
            alt="My image"
            class="w-full h-full object-cover rounded-lg"
          />
        </div>
      </div>
    </section>
  </div> {% endcomment %}

  <section class="commonSectionPadding footerSectionContactWithUs">
    <div class="container">
      <div class="commonSectionTitle">Επικοινώνησε μαζί μας!</div>
      <p class="contact-with-us">
        Έχεις κάποια ερώτηση ή πρόταση; Στείλε μας email στο
        <a
          class="link plausible-event-name=mailto"
          href="mailto:bookcommunitygr@gmail.com"
          >bookcommunitygr@gmail.com</a
        >
        ή βρες μας στο   <a
          class="link link-neutral plausible-event-name=instagram"
          target="_blank"
          href="https://www.instagram.com/bookcommunity__"
          >instagram</a
        >
        και θα σου απαντήσουμε το συντομότερο δυνατό!
      </p>
      <p class="contact-with-us">
        Developed by
        <a
          class="link"
          href="https://giannistolou.gr/?utm_source=book-community&utm_medium=website&utm_campaign=footer"
          target="_blank"
          >@giannistolou</a
        >
      </p>
    </div>
  </section>
</footer>