{% load static %}
<footer class="bg-base-200 text-base-content">
  <div
    class="cookie-banner hidden flex-col items-center justify-center p-4 bg-secondary-300 rounded-lg shadow-lg"
  >
    <p class="text-center">
      Χρησιμοποιούμε cookies για την υπηρεσία του newsletter, για περισσότερα
      διάβασε την
      <a
        href="https://book-community.com/privacy-policy.html"
        class="link link-primary"
        >πολιτική απορρήτου</a
      >
    </p>
    <div class="options flex gap-4 mt-4">
      <button class="btn btn-outline btn-error" onclick="closeCookieBanner()">
        Απόρριψη
      </button>
      <button class="btn btn-primary btn-success" onclick="acceptCookies()">Αποδοχή</button>
    </div>
  </div>

  <section class="newsletter bg-secondary-300 text-white py-10">
    <div class="container mx-auto text-center">
      <div class="text-2xl font-bold mb-2">Κάνε εγγραφή στο newsletter μας</div>
      <div class="text-lg mb-4">
        Για να μαθαίνεις την πορεία του project και ενδιαφέροντα θέματα γύρω από
        το βιβλίο!
      </div>

      <div id="newsletterProblem" class="hidden">
        <p class="text-center">
          Αποδεχτείτε τα cookies για να κάνετε εγγραφή στο newsletter
        </p>
        <button class="btn btn-primary" onclick="acceptCookies()">
          Αποδοχή cookies
        </button>
      </div>
      <div id="newsletter" class="hidden">{% include "newsletter.html" %}</div>
    </div>
  </section>
  {% comment %} <div class="bg-purple-600">
    <section class="container mx-auto py-10">
      <div class="flex flex-col lg:flex-row items-center justify-between gap-8">
        <div class="text">
          <div class="text-2xl font-bold mb-2">
            Θέλεις να στηρίξεις τα μικρά βιβλιοπωλεία;
          </div>
          <div class="text-lg mb-4">
            Έχουμε μια ιδέα για να στηρίξουμε την τοπική κοινότητα των
            βιβλιοπωλείων και να διευκολύνουμε τους αναγνώστες και τις
            αναγνώστριες να βρουν αυτό που ψάχνουν. Εάν θες να μάθεις
            περισσότερα πάτα τον σύνδεσμο κάτω ή κάνε εγγραφή στο newsletter
            μας.
          </div>
          <a
            class="btn btn-primary plausible-event-name=buybook"
            href="https://buybook.gr/"
            target="_blank"
            >Δες περισσότερα</a
          >
        </div>
        <div class="image-container">
          <img
            src="{% static 'undraw_bibliophile_re_xarc.svg' %}"
            alt="My image"
            class="w-full h-full object-cover rounded-lg"
          />
        </div>
      </div>
    </section>
  </div> {% endcomment %}

  <section class="newsletter bg-base-300 text-base-content py-10">
    <div class="container mx-auto text-center">
      <div class="text-2xl font-bold mb-2">Επικοινώνησε μαζί μας!</div>
      <div class="text-lg mb-4">
        Έχεις κάποια ερώτηση ή πρόταση; Στείλε μας email στο
        <a
          class="link link-neutral plausible-event-name=mailto"
          href="mailto:bookcommunitygr@gmail.com"
          >bookcommunitygr@gmail.com</a
        >
        ή βρες μας στο   <a
          class="link link-neutral plausible-event-name=instagram"
          target="_blank"
          href="https://www.instagram.com/bookcommunity__"
          >instagram</a
        >
        και θα σου απαντήσουμε το συντομότερο δυνατό!
      </div>
      <p class="text-lg">
        Developed by
        <a
          class="link link-neutral"
          href="https://giannistolou.gr/?utm_source=book-community&utm_medium=website&utm_campaign=footer"
          target="_blank"
          >@giannistolou</a
        >
      </p>
    </div>
  </section>
</footer>

<script>
  var cookieBanner = document.querySelector(".cookie-banner");
  var decline = document.querySelector(".decline");
  var accept = document.querySelector(".accept");
  var iframes = document.querySelectorAll("iframe");
  var newsletterProblem = document.querySelector("#newsletterProblem");
  var newsletter = document.getElementById("newsletter");

  if (localStorage.getItem("cookieSeen") != "shown") {
    cookieBanner.style.display = "flex";
    newsletterProblem.style.display = "flex";
  } else {
    acceptCookies();
  }

  function closeCookieBanner() {
    cookieBanner.style.animation = "cookieHide 1s";
    setTimeout(() => {
      cookieBanner.style.display = "none";
    }, 1000);
  }

  function acceptCookies() {
    closeCookieBanner();
    newsletterProblem.style.display = "none";
    localStorage.setItem("cookieSeen", "shown");
    newsletter.style.display = "block";
  }
</script>
