{% load static %}
<div class="cookie-banner" style="display: none">
	<p>
		Χρησιμοποιούμε cookies για την υπηρεσία του newsletter, για περισσότερα
		διάβασε την
		<a href="https://book-community.com/privacy-policy.html"
			>πολιτική απορρήτου</a
		>
	</p>
	<div class="options">
		<button class="decline" onclick="closeCookieBanner()">Απόρριψη</button>
		<button class="accept" onclick="acceptCookies()">Αποδοχή</button>
	</div>
</div>


<section class="container-banner-buybook">
	<div class="container container-banner">
		<div class="text">
			<div class="title">Θέλεις να στηρίξεις τα μικρά βιβλιοπωλεία;</div>
			<div class="subtitle">
				Έχουμε μια ιδέα για να στηρίξουμε την τοπική κοινότητα των βιβλιοπωλείων και 
				να διευκολύνουμε τους αναγνώστες και τις αναγνώστριες να βρουν αυτό που ψάχνουν. 
				Εάν θες να μάθεις περισσότερα πάτα τον σύνδεσμο κάτω ή κάνε εγγραφή στο newsletter μας.
			</div>
			<a class="cta plausible-event-name=buybook" href="https://buybook.gr/" target="_blank">Δες περισσότερα</a>
		</div>
		<div class="image-container">
			<img src="{% static 'undraw_bibliophile_re_xarc.svg' %}" alt="My image" style="position: absolute; width: 100%; height: 100%;">
		</div>
	</div>
</section>

<section class="newsletter">
	<div class="container">
		<div class="title">Κάνε εγγραφή στο newsletter μας</div>
		<div class="subtitle">
			Για να μαθαίνεις την πορεία του project και ενδιαφέροντα θέματα γύρω
			από το βιβλίο!
		</div>

		<div id="newsletterProblem" style="display: none">
			<p style="text-align: center">
				Αποδεχτείτε τα cookies για να κάνετε εγγραφή στο newsletter
			</p>
			<button class="btnCookie" onclick="acceptCookies()">
				Αποδοχή cookies
			</button>
		</div>
		<div id="#newsletter" style="display: none;">
			{% include "newsletter.html" %}
		</div>
	</div>
</section>

<section class="newsletter" style="background-color: #e3e1de; color:#2f2e41;">
	<div class="container">
		<div class="title">Επικοινώνησε μαζί μας!</div>
		<div class="subtitle">
			Έχεις κάποια ερώτηση ή πρόταση; Στείλε μας email στο <a href="mailto:bookcommunitygr@gmail.com">bookcommunitygr@gmail.com</a> και θα σου απαντήσουμε το συντομότερο δυνατό!
		</div>

	</div>
</section>

<script>
	var cookieBanner = document.querySelector(".cookie-banner");
	var decline = document.querySelector(".decline");
	var accept = document.querySelector(".accept");
	var iframes = document.querySelectorAll("iframe");
	var newsletterProblem = document.querySelector("#newsletterProblem");
	var newsletter = document.getElementById("#newsletter");

	if (localStorage.getItem("cookieSeen") != "shown") {
		cookieBanner.style.display = "flex";
		newsletterProblem.style.display = "flex";
	} else {
		acceptCookies();
	}

	function closeCookieBanner() {
		cookieBanner.style.animation = "cookieHide 1s";
		setTimeout(() => {
			cookieBanner.style.display = "none";
		}, 1000);
	}

	function acceptCookies() {
		closeCookieBanner();
		newsletterProblem.style.display = "none";
		localStorage.setItem("cookieSeen", "shown");
		newsletter.style.display = "block";
		
	}
</script>
