<header class="mdc-top-app-bar mdc-top-app-bar">
	<div class="mdc-top-app-bar__row">
		<section
			class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start"
		>
			<a href="/" class="mdc-top-app-bar__title on-primary">Book Cafe</a>
		</section>
		<section
			class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end"
			role="toolbar"
		>
			<a
				href="/map"
				class="mdc-button material-icons mdc-top-app-bar__action-item mdc-icon-button"
				aria-label="Bookmark this page"
			>
			<span>ΒΡΕΣ ΤΑ ΣΤΟΝ ΧΑΡΤΗ</span>
			&nbsp;
				<span class="material-symbols-sharp plausible-event-name=mapIconHeader"> explore </span>
			</a>
		</section>
	</div>
</header>
