<header class="navbar">
  <div class="container navbar-container">
    <a href="/" class="logo menu-item">
       {% include "icons/logo.html" %}
    </a>
    <nav class="menu">
      <a href="/map" class="menu-item"
        ><span>Βρες τα στον χάρτη</span>
        <span class="icon"> {% include "icons/map.html" %} </span></a
      >
    </nav>
    <div class="mobile-menu">
      <a href="/map" class="menu-item">
        <span class="icon"> {% include "icons/map.html" %} </span></a
      >
    </div>
  </div>
</header>
