
<html data-theme="retro" lang="el">

<head>
    {% load static %}
    {% include "commonHead.html" %}
    <title>Βρες την βιβλιοθήκη που σου ταιριάζει | {{page_title}}</title>
    <link rel="canonical" href="https://cafe.book-community.com/libraries/" />
    <meta name="keywords" content="book, books, reading, βιβλίο, βιβλία, διάβασμα, social media, book cafe, cafe, καφετέριες, βιβλιοθήκη, βιβλιοθήκες, library, libraries" />
    <meta name="description" content="Βρες το βιβλιοθήκη που σου ταιριάζει για διάβασμα ή δουλειά!" />
    <meta property="og:url" content="https://cafe.book-community.com/" />
    <meta property="og:title" content="Βιβλιοθήκες {{page_title}}" />
    <meta property="og:description" content="Βρες την βιβλιοθήκη που σου ταιριάζει για διάβασμα ή δουλειά!" />
    <script src="{% static 'bundle.js' %}" async></script>
</head>

<body>
    {% include "header.html" %}
    <main>
		{%include "tabs.html" with active_tab="library"%}
		<section class="container mx-auto py-10">
			<h2 class="text-3xl font-bold text-center mb-8 cafes-title">
			  Βρες την βιβλιοθήκη που σου ταιριάζει
			</h2>
			<div class="cafes-list">{% include "cafesList.html" %}</div>
		  </section>
    </main>
    {% include "footer.html" %}
</body>

</html>
