<html>
	<head>
		{% load static %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'style/cafes.css' %}" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>
		<script src="{% static 'bundle.js' %}" async></script>
	</head>

	<body>
		{% include "header.html" %}
		<main class="mdc-top-app-bar--fixed-adjust">
			<div class="mdc-tab-bar" role="tablist">
				<div class="mdc-tab-scroller">
					<div class="mdc-tab-scroller__scroll-area">
						<div class="mdc-tab-scroller__scroll-content">
							<a
								class="mdc-tab mdc-tab--active"
								role="tab"
								aria-selected="true"
								tabindex="0"
								href="/cafes"
							>
								<span class="mdc-tab__content">
									<span
										class="mdc-tab__icon material-symbols-sharp"
										aria-hidden="true"
									>
										local_cafe</span
									>
									<span class="mdc-tab__text-label"
										>Καφετεριες</span
									>
								</span>

								<span class="mdc-tab-indicator">
									<span
										class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"
									></span>
								</span>
								<span class="mdc-tab__ripple"></span>
							</a>
							<a
								class="mdc-tab"
								role="tab"
								aria-selected="true"
								tabindex="0"
								href="/libraries"
							>
								<span class="mdc-tab__content">
									<span
										class="mdc-tab__icon material-symbols-sharp"
										aria-hidden="true"
									>
										local_library
									</span>
									<span class="mdc-tab__text-label"
										>Βιβλιοθηκες</span
									>
								</span>

								<span
									class="mdc-tab-indicator mdc-tab-indicator--active"
								>
									<span
										class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"
									></span>
								</span>
								<span class="mdc-tab__ripple"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			{% include "cafesList.html" %}
		</main>
	</body>
</html>
