<html data-theme="retro">
	<head>
		{% load static %} {% include "commonHead.html" %}
		<title>Βρες την βιβλιοθήκη που σου ταιριάζει | {{page_title}}</title>
		<link
			rel="canonical"
			href="https://cafe.book-community.com/libraries/"
		/>
		<meta
			name="keywords"
			content="book, books, reading, βιβλίο, βιβλία, διάβασμα, social media, book cafe, cafe, καφετέριες, βιβλιοθήκη,
		βιβλιοθήκες, library, libraries"
		/>
		<meta
			name="description"
			content="Βρες το βιβλιοθήκη που σου ταιριάζει για διάβασμα ή δουλειά!"
		/>
		<meta property="og:url" content="https://cafe.book-community.com/" />
		<meta property="og:title" content="Βιβλιοθήκες {{page_title}}" />
		<meta
			property="og:description"
			content="Βρες την βιβλιοθήκη που σου ταιριάζει για διάβασμα ή δουλειά!"
		/>
		<link rel="stylesheet" href="{% static 'style/cafes.css' %}" />
		<script src="{% static 'bundle.js' %}" async></script>
	</head>

	<body>
		{% include "header.html" %}
		<main>
		<div class="tabs">
            <a class="tab tab-bordered tab-active" href="{{cafe_url}}">
                <span class="material-symbols-sharp">local_cafe</span>
                <span>Καφετεριες</span>
            </a>
            <a class="tab tab-bordered" href="{{libraries_url}}">
                <span class="material-symbols-sharp">local_library</span>
                <span>Βιβλιοθηκες</span>
            </a>
        </div>

			{% include "cafesList.html" %}
		</main>
		{% include "footer.html" %}
	</body>
</html>
