@use "../../theme.scss" as *;
@use "../../cafeItem.scss" as *;
@use "../../components/tabs.scss" as *;
@use "../../components/badge.scss" as *;
@use "../../components/icons-list.scss" as *;

@use "sass:color";

.cafes-title {
	font-family: "Verdana", sans-serif;
	text-align: center;
	border: 1px solid $primary;
	padding: 0.5rem;
	margin: 1rem;
	color: $primary;
	font-size: 1.2rem;
	border-radius: 10px;
	font-weight: 500;
	
	@include media-breakpoint-up(lg) {
		font-size: 2rem;
	}
}

.cafes-list-container {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	padding: 0.5rem;

	@include media-breakpoint-up(lg) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.chips-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: auto;
	column-gap: 1rem;
	padding: 1rem 1rem 0 1rem;


	.chip {
		border: 1px solid $primary;
		display: inline-block;
		padding: 0.5rem;
		border-radius: 1rem;
		min-width: fit-content;
		transition: 0.3s background-color;

	}

	.chip-active {
		background-color: $primary;
		color: $on-primary;
	}

	@include media-breakpoint-up(lg) {
		.chip:not(.chip-active):hover {
			background-color: $primary;
			color: $on-primary;
			opacity: 0.7;
		}
	}
}


.select-other-city {
	padding: 1rem 0;
}